<div class="container">
<h1>Elsner</h1>

<form role="form" method="post">
  <select class="form-control" id="vendor" name="vendor">
  <option value="Reollke">Reollke</option>
  <option value="Schwerter">Schwerter</option>
  <option value="Elsner">Elsner</option>
  <option value="OrchClub">OrchClub</option>
  </select>
    <input type="submit" class="btn btn-primary btn-lg">JSON File Parser
</form>
</div>
